<div class="col-md-12 col-xs-12" style="margin: 10px ">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div class="col-md-3 col-xs-12"style = "padding: 0">
      <%= link_to 'Goods Add',items_path,:class => 'text-center btn-li btn-block btn-lg button-change' %>
    </div>
    <div class="col-md-3 col-xs-12"style = "padding: 0">
      <%= link_to 'My Shop',user_shops_path,:class => 'text-center btn-li btn-block btn-lg button-change' %>
    </div>
    <div class="col-md-3 col-xs-12"style = "padding: 0">
      <%= link_to 'Message',messages_path,:class => 'text-center btn-li btn-block btn-lg button-change' %>
    </div>
    <div class="col-md-3 col-xs-12"style = "padding: 0">
      <%= link_to 'Favorite List',favorites_path,:class => 'text-center btn-li btn-block btn-lg button-change' %>
    </div>
  </div>
</div>
