<div class="col-md-12 col-xs-12">
  <% @history.each do |history| %>
  <% @item = Item.find(history.item_id) %>
    <div class="img-rounded bg-warning col-md-10 col-md-offset-1 col-xs-12" >
      <%= image_tag @item.image.url,:class => 'img-rounded img-thumbnail col-md-2 col-xs-8' %>
      <div class="col-md-10 col-xs-12">
        <div class="col-md-3">
          <p>[<%= @item.name %>]</p>
        </div>
        <div class="col-md-3">
          <p><%= @item.price %>円</p>
        </div>
        <div class="col-md-3">
          <p>購入日&nbsp;[<%= @item.updated_at %>]</p>
        </div>

      </div>
      <!--同じ時刻に購入したもの以外は下に下線を引いて区別する-->
      <% unless @history.where(updated_at: @item.updated_at).present? %>
        <div  class="col-md-12 col-xs-12"style="border-bottom:1px dotted gray"></div>
      <% end %>
    </div>
  <% end %>
</div>