<div class="col-md-12 col-xs-12" style="margin: 10px 0;">
  <%= link_to shopping_list_path(total: @price,item_id: @want_item),:method => 'post' do %>
    <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
      <button class="btn-shop btn-block btn-lg">
        Go!!
      </button>
    </div>
  <% end %>
</div>