<div class="col-md-12 col-xs-12">
  <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 text-center img-rounded"style="padding: 10px; font-weight:bold; background: #ffc23f; margin-top: 10px;">
    Total:&nbsp;<%= get_price = @cart_item.where(history: 1).sum(:price) %> 円
  </div>

</div>