<%= render :file => 'shopping_carts/_list' %>
<%= link_to shops_path do %>
  <div class="col-md-12 col-xs-12 text-center" style="margin-top: 15px;">
    <span class="fa fa-shopping-basket fa-5x"style="color:#ff5e5e;"></span>
    <p style="font-weight: bold;color:#ff5e5e;">買い物の続きをする?</p>
  </div>
<% end %>
