<div class="col-md-12 col-xs-12">
  <footer style="background-color: #ff6088;text-align:center; color:white;">
  <small class="">&copy; More Pla since2017.</small>
  <div class="icon">
    <span></span>
    <span></span>
  </div>
  </footer>
</div>