<div class="col-md-12 col-xs-12">
  <div class="img-rounded bg-info col-md-6 col-xs-10 col-md-offset-3 col-xs-offset-1"style="padding:20px;">
    <div class="new-user img-rounded bg-warning col-md-12 col-xs-12 text-center" style="padding:15px;">
      <h3 style="font-weight:bold;">こんにちは</h3>
      <p>ユーザー登録をするとお気に入り機能や買い物機能などがご利用になれます</p>
      <p>登録をしてユーザーの出品した商品を見てみましょう</p>
    </div>
    <div class="user-wel col-xs-10 col-xs-offset-1 col-md-offset-3 col-md-6 text-center"style="padding:15px;">
      <%= link_to signup_path do %>
        <div class="button-change btn-lg btn-block">Start</div>
      <% end %>
    </div>
  </div>
</div>