<div class="top-nav col-md-12 col-xs-12">
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <%= link_to shops_path do %>
      <div class="col-md-3 col-xs-12"style="padding:0;">
        <button class="btn-block btn-lg button-change">Item List</button>
      </div>
    <% end %>
    <%= link_to mypages_path do %>
      <div class="col-md-3 col-xs-12"style="padding:0;">
        <button class="btn-block btn-lg button-change">MyPage</button>
      </div>
    <% end %>
    <%= link_to supports_path do %>
      <div class="col-md-3 col-xs-12"style="padding:0;">
        <button class="btn-block btn-lg button-change">Support</button>
      </div>
    <% end %>
    <%= link_to favorites_ranking_path do %>
      <div class="col-md-3 col-xs-12"style="padding:0;">
        <button class="btn-block btn-lg button-change">Ranking</button>
      </div>
    <% end %>
  </div>
</div>