<div class="col-md-12 col-xs-12 btn-top">
  <div class="col-md-4 col-md-offset-8 col-xs-12">
    <%= link_to signup_path do %>
      <div class="col-md-6 col-xs-6"style="padding:0;">
        <button class="btn-block btn-lg" style="color:white;background: #ffb600;">signup</button>
      </div>
    <% end %>
    <%= link_to login_path do %>
      <div class="col-md-6 col-xs-6"style="padding: 0;">
        <button class="btn-block btn-lg"style="color:white;background:#ff7b00;">login</button>
      </div>
    <% end %>
  </div>
</div>