<div class="bg-top col-md-12 col-xs-12" style="padding: 0">
  <%= image_tag 'top.jpg',:class => 'col-md-12 col-xs-12 img-responsive',:style => 'padding: 0; height:350px;' %>
</div>
  <%= render :file => 'toppages/_top-nav' %>
  <%= render :file => 'toppages/_title' %>

